<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Values can be "FF"/"IE"/"GC" defaulted to Firefox in the WebDriverFactory.cs -->
    <add key="BrowserType" value="FF"/>
    
    <!--For Question set Testing  set "QSTestEnabled" to "true" / For Non QS test  set "QSTestEnabled" to "false" -->
    <add key="QSTestEnabled" value="true"/>
    <add key="RiskDataCSVPath" value="C:\\TestData.csv"/>
    
    <!--LOCAL or QA or UAT or REG-->
    <add key ="Environment" value="QA"/> 
    <add key ="LOCALUrl" value="http://localhost:14510"/> 
    <add key ="QAUrl" value="http://pbo-ctmwebqa01.uat.local/"/> 
    <add key ="UATUrl" value="http://pbo-ctmwebuat01.uat.local/"/> 
    <add key ="REGUrl" value="http://pbo-ctmwebreg01.uat.local/"/> 
  </appSettings>
</configuration>